/* ======================================== */
/* ESTILO DO TÍTULO DA PÁGINA */
/* ======================================== */
.titulo {
    display: flex;
    align-items: center;
    padding: 0 5vw;
    margin-top: 40px;
    background-color: #FFF5EA;
    flex-wrap: wrap;
}

.titulo h1 {
    font-size: clamp(24px, 4vw, 40px);
    color: #D76A03;
}

.titulo img {
    width: 28px;
    height: 28px;
    cursor: pointer;
    margin-right: 8px;
}

/* ======================================== */
/* CABEÇALHO */
/* ======================================== */
.cabecalho {
    display: flex;
    align-items: center;
    padding: 20px 5vw;
    background-color: #FFF5EA;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: left;
    text-align: left;
}

.logo-restaurante {
    width: clamp(80px, 20vw, 120px);
    height: auto;
    border-radius: 50%;
}

.info-restaurante {
    max-width: 500px;
}

.info-restaurante h2 {
    font-size: clamp(20px, 3vw, 28px);
}

/* ======================================== */
/* FORMULÁRIO */
/* ======================================== */

label {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 10px;
    text-align: left;
    width: 1200px;
    display: block;
}

.formulario-reserva,
form {
    align-items: flex-start;  /* Alinhas os itens à esquerda */
    padding-left: 0;          /* Remover padding lateral se necessário */
    padding-right: 0;
}

.formulario-reserva {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 5px 5vw;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    width: 1200px;
    padding: 20px;
    font-size: 16px;
    border:2px solid #D76A03;
    border-radius: 16px;

    background-image: url('../../img/Icone SetaBaixo.png');
    background-repeat: no-repeat;
    background-position: right 15px center;
}

select img {
    width: 16px;
    height: 16px;
}

.btnConfirmar {
    background-color: #D76A03;
    width: 1200px;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 16px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

.btnConfirmar:hover {
    background-color: #bf5c02;
}

.btnCancelar {
    background-color: #BF3100;
    width: 1200px;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 16px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

.btnCancelar:hover {
    background-color: #a52800;
}

input[type="date"] {
    
    width: 1200px;
    padding: 20px;
    font-size: 16px;
    border:2px solid #D76A03;
    border-radius: 16px;
}

input[type="time"] {
    
    width: 1200px;
    padding: 20px;
    font-size: 16px;
    border:2px solid #D76A03;
    border-radius: 16px;
}

.obrigatorio {
    color: #BF3100;
}