body {
    font-size: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.logo img {
    display: block;
    margin: 0 auto;
    margin-bottom: 1px;
    width: 200px;
    height: auto;
    transform: none !important;
}

/* zera margens do h1 e centraliza */
.logo h1 {
    color: #D76A03;
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 800;
    margin: 0;
    text-align: center;
    line-height: 1;
    transform: none !important;
}

.botoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 150px;
    width: 100%;
}

button {
    width: 55%;
    height: 64px;
    margin: 16px 0;
    display: inline-block;
    border-radius: 15px;
    border: none;
    box-sizing: border-box;
    background-color: #D76A03;
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 3px 6px 1px rgb(0 0 0 / 30%);
    font-size: 19px;
}

button:hover {
    background-color: #bf5c02;
    transition: all 0.3s ease;
    transform: translateY(-2px);
}

.fundo {
    background-color: #FFE5B1;
    border-radius: 58px 58px 0 0;
    /* só arredonda em cima */
    padding: 20px;
    text-align: center;
    width: 100%;
    /* ocupa toda a largura */
    box-sizing: border-box;
    /* padding conta dentro da largura */
    margin: 196px 0 0 0;
    /* só margem em cima */
}