.barra-topo {
    display: flex;
    justify-content: space-between; /* Deixa esquerda e direita separadas */
    align-items: center;
    padding: 0 5vw;
    margin-top: 40px;
    background-color: #FFF5EA;
}

.esquerda {
    display: flex;
    align-items: center;
    gap: 10px;
}

.esquerda h1 {
    font-size: clamp(24px, 4vw, 40px);
    color: #D76A03;
    margin: 0;
}

.icone-voltar {
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.direita {
    display: flex;
    align-items: center;
}

.icone-editar {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    cursor: pointer;
}
